<div class="container">
  <div class="nav-container">
    <span><a href="#about">Douar Moua</a></span>
    <span><a href="#resume">Resume</a></span>
    <span><a href="#projects">Projects</a></span>
    <span><a href="#connect">Connect</a></span>
  </div>

  <div class="section-container" id="about">
    <div class="row">
      <div class="col">
        <div class="welcome-content">
          <p>Hi, my name is</p>
          <h1>Douar Moua</h1>
          <p>I'm a fullstack software engineer who enjoys developing web applications</p>
        </div>
      </div>
      <div class="col">
        <div class="content">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>My Journey</mat-expansion-panel-header>
            <p>
              As immigrants my parents were determined to make ends meet with their own effort and skills, so they have always been entrepreneurs.
              This lead me to pursue a degree in
              <a href="https://www.cehd.umn.edu/olpd/undergraduate-programs/business-marketing-education/" target="_blank">Business & Marketing Education</a>
              and being the first in my family to achieve higher education.
              After graduating I became more involved with the family business,
              but I always felt like I was missing something. <br><br>
              In 2022, I finally took the courage to stray from my family's work to pursue my own interest, leading me to software development.
              I joined <a href="https://yorksolutions.net/talent/b2e" target="_blank">York Solutions intensive Barrier to Entry (B2E)</a> program,
              learned how to develop web applications, and gained valuable experience in my first dev role at Optum.
              Today I continue to grow my passion for developing user friendly software applications.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>Tech Favorites</mat-expansion-panel-header>
            <ul>
              <li>Javascript/Typescript</li>
              <li>Java</li>
              <li>Angular</li>
              <li>Springboot</li>
              <li>Postman</li>
              <li>Hasura</li>
              <li>Camunda</li>
              <li>Beyond Compare</li>
              <li>IntelliJ IDEA</li>
            </ul>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container" id="resume">
    <div class="row">
      <div class="resume-container">
        <iframe src="assets/DouarMoua_Resume.pdf" ></iframe>
      </div>
    </div>
  </div>

  <div class="section-container" id="projects">
    <div class="row">
      <div class="projects-container">
        <h1 style="text-transform: uppercase">Projects : Coming Soon</h1>
        <h2>Take a peek at the projects I'm working on</h2>
        <a href="https://github.com/douar" target="_blank">github.com/douar</a>
      </div>
    </div>
  </div>

  <div class="section-container" id="connect">
    <div class="row">
      <div class="connect-container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSRC7gCFjlZiH0omHC7IW80-U9fMrL4NuRhG4NaXolV28IRA/viewform?embedded=true" width="640" height="607" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </div>
</div>



