.container{
  width: 100%;
  height: 100vh;
}

.nav-container {
  background-color: #5c6b28;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*position: sticky;*/
  /*top: 0;*/
}

.nav-container a{
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

.nav-container a:hover{
  padding: .5rem;
  border-radius: .5rem;
  background-color: white;
  color: #da9432;
}

.section-container{
  width: 100%;
  height: 100%;
}

.row{
  border: solid black thin;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.col{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.col div{
  margin: 3rem;
}

mat-expansion-panel{
  background-color: #da9432;
}

.welcome-content p{
  font-size: large;
}

.welcome-content h1{
  font-size: xxx-large;
}

.content mat-expansion-panel{
  margin: 1rem;
}
