

<div class="container">
  <div class="nav-container">
    <span><a href="#about">Douar Moua</a></span>
    <span><a href="#resume">Resume</a></span>
    <span><a href="#projects">Projects</a></span>
    <span><a href="#contact">Contact</a></span>
  </div>

  <div class="section-container" id="about">
    <div class="row">
      <div class="col">
        <div>
          <p>Hi, my name is</p>
          <h1>Douar Moua</h1>
          <p>I'm a fullstack software engineer who enjoys developing web applications, especially ones with user friendly UIs</p>
        </div>
      </div>
      <div class="col">
        <div style="text-align: center">
          <h3 style="text-align: center">My Journey</h3>
          <p style="text-align: center">
            As immigrants my parents were determined to make ends meet with their own effort and skills, so they have always been entrepreneurs.
            This lead me to pursue a degree in Business & Marketing Education and being the first in my family to achieve higher education.
            After graduating I became more involved with the family business,
            but I always felt like I was missing something. <br><br>
            In 2022, I finally took the courage to stray from my family's business to pursue my own interest, leading me to software development.
            I joined <a href="https://yorksolutions.net/talent/b2e" target="_blank">York Solutions intensive Barrier to Entry (B2E)</a> program,
            learned how to develop web applications, and gained valuable experience in my first dev role at Optum.
            Today I continue to grow my passion for developing software that can be used by clients and users like you and me.
          </p>
          <h3>Tech Favorites</h3>
            <p>Angular</p>
            <p>Javascript/Typescript</p>
            <p>SpringBoot</p>
            <p>Java</p>
            <p>ChatGPT</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container" id="resume">
    <div class="row">
        <h1>Resume</h1>
    </div>
  </div>

  <div class="section-container" id="projects">
    <div class="row">
      <h1>Projects</h1>
    </div>
  </div>

  <div class="section-container" id="contact">
    <div class="row">
      <h1>Contact</h1>
    </div>
  </div>
</div>



