<div class="nav-container">
  <span><a href="#about">Douar Moua</a></span>
  <span><a href="#resume">Resume</a></span>
  <span><a href="#projects">Projects</a></span>
  <span><a href="#contact">Contact</a></span>
</div>

<div class="about-container" id="about">
  <div class="row">
    <div class="col">
      <h1>Douar Moua</h1>
    </div>
    <div class="col">
      <p>About</p>
    </div>
  </div>
</div>

<div class="resume-container" id="resume">
  <div class="row">
    <div class="col">
      <h1>Resume</h1>
    </div>
  </div>
</div>

<div class="projects-container" id="projects">
  <div class="row">
    <div class="col">
      <h1>Projects</h1>
    </div>
  </div>
</div>

<div class="contact-container" id="contact">
  <div class="row">
    <div class="col">
      <h1>Contact</h1>
    </div>
  </div>
</div>

