<div class="nav-container">
  <span><a href="#about">Douar Moua</a></span>
  <span><a href="#resume">Resume</a></span>
  <span><a href="#projects">Projects</a></span>
  <span><a href="#connect">Connect</a></span>
</div>

<div class="content-container">

  <div class="section-container" id="about">
    <div class="row">
      <div class="col">
        <p style="font-size: large">Hi, my name is</p>
        <h1 style="font-size: xxx-large">Douar Moua</h1>
        <p style="font-size: large">I'm a fullstack software engineer who enjoys developing web applications</p>
      </div>
      <div class="col">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>My Journey</mat-expansion-panel-header>
          <p>
            As immigrants my parents were determined to make ends meet with their own effort and skills, so they have always been entrepreneurs.
            This lead me to pursue a degree in
            <a href="https://www.cehd.umn.edu/olpd/undergraduate-programs/business-marketing-education/" target="_blank">Business & Marketing Education</a>
            and being the first in my family to achieve higher education.
            After graduating I became more involved with the family business,
            but I always felt like I was missing something. <br><br>
            In 2022, I finally took the courage to stray from my family's work to pursue my own interest, leading me to software development.
            I joined <a href="https://yorksolutions.net/talent/b2e" target="_blank">York Solutions intensive Barrier to Entry (B2E)</a> program,
            learned how to develop web applications, and gained valuable experience in my first dev role at Optum.
            Today I continue to grow my passion for developing user friendly software applications.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>Tech Favorites</mat-expansion-panel-header>
          <ul>
            <li>Javascript/Typescript</li>
            <li>Java</li>
            <li>Angular</li>
            <li>Springboot</li>
            <li>Postman</li>
            <li>Hasura</li>
            <li>Camunda</li>
            <li>Beyond Compare</li>
            <li>IntelliJ IDEA</li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>Work With Me</mat-expansion-panel-header>
          <p>See my <a href="#resume">Resume</a></p>
          <p>See my <a href="#projects">Projects</a></p>
          <p>
            DiSC Profile:
            <a href="https://www.discprofile.com/what-is-disc/disc-styles/conscientiousness" target="_blank">Style C</a> /
            <a href="https://www.discprofile.com/what-is-disc/disc-styles/steadiness" target="_blank">Style S</a>
          </p>
          <p>
            <span style="font-weight: bold">I am actively looking for my next dev role! </span>In my previous role as a full stack
            associate dev at Optum, I worked on a healthcare web application used by professional
            healthcare providers and insurers. My role consisted of (not limited to):
          </p>
          <ul>
            <li>Creating and implementing new features</li>
            <li>Improving existing features</li>
            <li>Fixing bugs in existing features</li>
            <li>Creating tests and testing code to ensure functional feature performance</li>
          </ul>
          <p style="font-weight: bold">
            Sound like I could be a good fit for your team?
            <a href="#connect">Let's connect!</a>
          </p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>

  <div class="section-container" id="projects" style="display: flex; flex-direction: column">
    <h1 style="text-transform: uppercase">Projects : Coming Soon</h1>
    <h2>Take a peek at the projects I'm working on</h2>
    <a href="https://github.com/douar" target="_blank">github.com/douar</a>
  </div>

  <div class="section-container" id="resume">
    <iframe src="assets/DouarMoua_Resume.pdf" ></iframe>
  </div>

  <div class="section-container" id="connect">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSRC7gCFjlZiH0omHC7IW80-U9fMrL4NuRhG4NaXolV28IRA/viewform?embedded=true"
                width="640"
                height="607"
                frameborder="0"
                marginheight="0"
                marginwidth="0">Loading…</iframe>
  </div>

</div>
